{% extends 'base.html' %}

{% block content %}
  {% if error %}
  <p style="color: red;">{{ error }}</p>
  {% endif %}
  <h2>Movies</h2>

  <form action="/users/{{ user_id }}/movies" method="POST" class="search-form">
    <input type="text" name="title" placeholder="New Movie...">
    <button type="submit" class="btn-primary">Add movie</button>
  </form>

  <div class="movie-grid">
  {% for movie in movies %}
    <div class="movie-card">
      <p class="movie-title">{{ movie.title }}</p>
      <p>{{ movie.director }}</p>
      <p>{{ movie.publication_year }}</p>
      <img class="movie-poster" src="{{ movie.poster_url }}" title="No note yet">

      <form action="/users/{{ user_id }}/movies/{{ movie.id }}/update" method="POST" class="update-form">
        <input type="text" name="new_title" placeholder="New Title...">
        <button type="submit" class="btn-update">Update movie</button>
      </form>

      <form action="/users/{{ user_id }}/movies/{{ movie.id }}/delete" method="POST">
        <button type="submit" class="btn-delete">Delete movie</button>
      </form>
    </div>
  {% endfor %}
  </div>
{% endblock %}